@import "styles.css";
@import "components/settings-header.css";
@import "components/settings-sideBar.css";

h2 {
  font-size: 15px;
  font-weight: 700;
}
h5 {
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
}

body {
  width: 480px;
  height: 600px;
  position: relative;
  top: 60px;
  left: 60px;
  border: 1px solid rgba(1, 1, 1, 0.1);
}

/* main */
.kt__settings__main__selected {
  overflow: scroll;
}
/* side-bar */
.kt__settings__main__side-bar__list__column:first-child {
  background-color: rgba(1, 1, 1, 0.08);
}
.kt__settings__main__side-bar__list__column:first-child a {
  color: rgba(1, 1, 1, 1);
}
/* main contents*/
.kt__settings__main__selected__settings {
  margin-bottom: 40px;
}
.kt__settings__main__selected__settings__header {
  margin-bottom: 25px;
}
.kt__settings__main__selected__settings__main__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.kt__settings__main__selected__settings__main__column h3 {
  font-size: 13px;
  font-weight: 500;
}
.kt__settings__main__selected__settings__main__column select {
  width: 160px;
  height: 25px;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  font-size: 11px;
  color: rgba(1, 1, 1, 0.8);
  padding-left: 3px;
  display: flex;
}
.kt__settings__main__selected__settings__main__column .sounds-control {
  width: 160px;
  height: 25px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kt__settings__main__selected__settings__main__column
  .sounds-control
  input[type="range"] {
  width: 130px;
  height: 3px;
}
.kt__settings__main__selected__settings__main__column .sounds-desc {
  display: none;
  position: absolute;
  right: 0;
  top: -60px;
  font-size: 9px;
  font-weight: 300;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.7;
  border-radius: 2px;
  width: 160px;
  color: rgba(229, 229, 229, 1);
  padding: 10px;
  line-height: 13px;
}
.kt__settings__main__selected__login {
  margin-bottom: 40px;
}
.kt__settings__main__selected__login__header {
  margin-bottom: 25px;
}
.kt__settings__main__selected__login__main__column {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kt__settings__main__selected__login__main__column label {
  font-size: 12px;
  font-weight: 500;
}
.kt__settings__main__selected__login__main__column label input {
  margin-right: 5px;
  font-size: 30px;
}
.kt__settings__main__selected__login__main__column select {
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  color: rgba(1, 1, 1, 0.8);
  width: 90px;
  height: 25px;
  font-size: 11px;
  padding-left: 3px;
}
.kt__settings__main__selected__mode {
  margin-bottom: 40px;
}
.kt__settings__main__selected__mode__header {
  margin-bottom: 25px;
}
.kt__settings__main__selected__mode__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kt__settings__main__selected__mode__main input {
  margin-right: 5px;
}
.kt__settings__main__selected__mode__main label {
  font-size: 12px;
  font-weight: 500;
}
.kt__settings__main__selected__mode__main select {
  border: 0.5px solid rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  color: rgba(1, 1, 1, 0.8);
  width: 90px;
  height: 25px;
  font-size: 11px;
  padding-left: 3px;
}
.kt__settings__main__selected__certify {
  margin-bottom: 40px;
}
.kt__settings__main__selected__certify__header {
  margin-bottom: 15px;
}
.kt__settings__main__selected__certify__main__desc {
  color: rgba(137, 137, 137, 1);
  margin-bottom: 10px;
}
.kt__settings__main__selected__certify__main input[type="button"] {
  width: 90px;
  height: 25px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.9);
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}
.kt__settings__main__selected__hotkey {
  margin-bottom: 40px;
}
.kt__settings__main__selected__hotkey-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.kt__settings__main__selected__hotkey-header-find {
  font-size: 10px;
}
.kt__settings__main__selected__hotkey__main-desc {
  color: rgba(137, 137, 137, 1);
}
