@import "/css/styles.css";

body {
  width: 350px;
  height: 550px;
  position: relative;
  top: 60px;
  left: 60px;
  border: 1px solid rgba(1, 1, 1, 0.1);
  padding: 30px 0;
}

/* header */
header {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 8px;
  z-index: 1;
}
.header__icon i {
  margin-right: 5px;
}
header a,
header i {
  color: rgba(231, 231, 231, 1);
}

/* main header */
main .kt__main__header {
  background-color: rgba(217, 78, 78, 0.9);
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.kt__main__header__column:last-child {
  width: 100%;
  margin-left: 10px;
  color: rgba(231, 231, 231, 1);
}
.kt__main__header__column__friend-img {
  font-size: 30px;
  padding: 8px;
  margin-left: 5px;
}
.kt__main__header__column__row {
  font-size: 13px;
}
.kt__main__header__column__row i {
  font-size: 10px;
}
.kt__main__header__column__row:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.kt__main__header__column__row:last-child
  .kt__main__header__column__row__column:first-child
  i:first-child {
  padding-right: 9px;
  border-right: 0.2px solid rgba(231, 231, 231, 1);
}
.kt__main__header__column__row:last-child
  .kt__main__header__column__row__column:first-child
  i:last-child {
  padding-left: 5px;
}
.kt__main__header__column__row:last-child
  .kt__main__header__column__row__column:last-child
  i:last-child {
  margin-left: 10px;
  margin-right: 5px;
}

/* main */
/* chatting message */
.kt__main__chatting__record {
  display: block;
  position: absolute;
  overflow: scroll;
  top: 70px;
  width: 100%;
  height: 350px;
  background-color: rgba(217, 78, 78, 0.75);
}
.kt__main__chatting__record__friend {
  display: flex;
  margin-left: 15px;
  height: 60px;
}
.kt__main__chatting__record__friend .friend-name {
  margin-bottom: 10px;
  color: rgba(231, 231, 231, 1);
  font-size: 14px;
}
.kt__main__chatting__record__friend a {
  width: 35px;
  font-size: 30px;
  margin-right: 10px;
}
.kt__main__chatting__record__friend p,
.kt__main__chatting__record__mine p {
  background-color: rgba(247, 247, 247, 1);
  border-radius: 3px;
  height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 13px;
  font-weight: 500;
}
main .kt__main__chatting__record .kt__main__chatting__record__friend p {
  border-radius: 8px;
  border-top-left-radius: 0;
}
main .kt__main__chatting__record .kt__main__chatting__record__mine p {
  border-radius: 8px;
  border-top-right-radius: 0;
}
main .kt__main__chatting__record .kt__main__chatting__record__mine {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}

/* footer insert-message */
.kt__more-func {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px;
}
.kt__more-func__chatting__insert {
  width: 100%;
  height: 100px;
  position: relative;
}
.kt__more-func__chatting__insert textarea {
  width: 280px;
  height: 100%;
  padding-top: 10px;
  padding-left: 10px;
  overflow: scroll;
  outline: none;
}
.kt__more-func__chatting__insert input {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 45px;
  height: 28px;
  padding: 5px;
  border: 1px solid rgba(1, 1, 1, 0.2);
  border-radius: 2px;
  background-color: rgba(66, 66, 66, 0.1);
  color: rgba(1, 1, 1, 0.4);
  font-size: 13px;
  font-weight: 500;
}
.kt__more-func__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  position: absolute;
  bottom: 0;
}
.kt__more-func__bottom .kt__more-func__bottom__list {
  width: 150px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.kt__more-func__bottom input[type="range"] {
  height: 1px;
  width: 70px;
}
