/* header */
.header__icon {
  position: absolute;
  font-size: 7px;
  color: rgba(185, 182, 182, 1);
  top: 10px;
  right: 10px;
}
.header__icon i:not(:last-child) {
  margin-right: 5px;
}

/* footer */
.ad {
  position: absolute;
  bottom: 0;
  width: 390px;
  height: 100px;
}
.ad img {
  width: 100%;
  height: 100%;
}
