/* side-bar */
.kt__main nav {
  background-color: rgba(231, 230, 230, 0.5);
  padding: 30px 20px 30px 25px;
  width: 70px;
  position: absolute;
  top: 0;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.kt__main nav a {
  color: rgba(185, 182, 182, 1);
}

.kt__main nav .kt__main__side-bar__top {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}
.kt__main nav .kt__main__side-bar__top a:not(:last-child) {
  margin-bottom: 35px;
}
.kt__main nav .kt__main__side-bar__bottom {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}
.kt__main nav .kt__main__side-bar__bottom a:not(:last-child) {
  margin-bottom: 20px;
}
