/* footer button */
.button-list {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
}
.button-list__column i {
  font-size: 15px;
  margin-bottom: 10px;
}
.button-list__column-title {
  font-size: 12px;
  font-weight: 500;
}
