@import "/css/styles.css";
@import "/css/components/mainSideBar.css";
@import "/css/components/mainHeader.css";

h2 {
  font-size: 15px;
  font-weight: 700;
}
h4 {
  font-size: 10px;
  font-weight: 700;
}
h6 {
  font-size: 9px;
}

body {
  width: 390px;
  height: 550px;
  position: relative;
  top: 60px;
  left: 60px;
  border: 1px solid rgba(1, 1, 1, 0.1);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.1);
}

/* main contents*/
.kt__main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
.kt__main__side-bar__top a:first-child {
  color: rgba(129, 129, 129, 1);
}
.kt__main__info {
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 70px;
  right: 0;
  bottom: 100px;
}

/* main header */
.kt__main__info__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 20px;
  margin-bottom: 10px;
}
.kt__main__info__header-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.kt__main__info__header-header a {
  color: rgba(129, 129, 129, 1);
}

/* search-bar */
.kt__main__info__header__search-bar {
  background-color: rgba(231, 230, 230, 0.3);
  color: rgba(185, 182, 182, 1);
  width: 100%;
  height: 25px;
  border-radius: 10px;
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 5px 5px 10px;
}
.kt__main__info__header__search-bar i {
  margin-right: 5px;
}
.kt__main__info__header__search-bar input {
  width: 100%;
  font-size: 10px;
}

/* user profile self */
.kt__main__info__user-info {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 15px 0 20px;
}
.kt__main__info__user-info__img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  text-align: center;
  border-radius: 40%;
  background-color: rgba(154, 220, 250, 1);
}
.kt__main__info__user-info__img i {
  color: rgba(210, 233, 252, 1);
  padding-top: 12px;
  border-radius: 15px;
  font-size: 20px;
}
.kt__main__info__user-info__txt {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
}
.kt__main__info__user-info__txt__state-msg {
  color: rgba(129, 129, 129, 1);
  font-weight: 300;
}

/* friends list */
.kt__main__info__friends__header {
  margin: 0 15px 0 20px;
  padding: 10px 0;
  border-top: 0.1px solid rgba(1, 1, 1, 0.1);
  display: flex;
  justify-content: space-between;
  color: rgba(102, 101, 101, 0.8);
}
.kt__main__info__friends__header__scroll {
  font-size: 8px;
}
.kt__main__info__friends-list__column {
  padding: 5px 15px 5px 20px;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
}
.kt__main__info__friends-list__column-img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
  border-radius: 15px;
}
.kt__main__info__friends-list__column-img img {
  width: 100%;
  height: 100%;
  border-radius: 40%;
}
.kt__main__info__friends-list__column-txt {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 3px;
}
.kt__main__info__friends-list__column-txt__state-msg {
  color: rgba(75, 75, 75, 0.6);
  font-weight: 500;
}
