@import "/css/styles.css";
@import "/css/components/userDetailFooter.css";
@import "/css/components/userDetailHeader.css";

body {
  width: 290px;
  height: 500px;
  position: relative;
  top: 60px;
  left: 60px;
  border: 1px solid rgba(1, 1, 1, 0.1);
  box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.1);
}

/* main contents */
main {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #9bb7c4;
  z-index: -1;
}
/* user info */
.kt__main__friend-profile {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  bottom: 120px;
  color: rgba(255, 255, 255, 1);
}
.kt__main__friend-profile__img {
  background-color: rgba(154, 220, 250, 1);
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 40%;
}
.kt__main__friend-profile__img i {
  font-size: 50px;
  padding-top: 25px;
  color: rgba(210, 233, 252, 1);
}
.kt__main__friend-profile__txt__name {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}
.kt__main__friend-profile__txt__state-msg {
  font-size: 10px;
}
